{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
  ],
  "plugins": [
    "babel",
    "import"
  ],
  "rules": {
    "indent": [2, 2],
    "comma-dangle": 0,
    "no-var": 0,
    "vars-on-top": 0,
    "curly": 0,
    "default-case": 0,
    "func-names": 0,
    "no-use-before-define": 0,
    "camelcase": 0,
    "quotes": 1,
    "dot-notation": 0,
    "no-console": 0,
    "no-else-return": 0,
    "import/no-unresolved": [2, {commonjs: true, amd: true}],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2  
  }
}
